/*body*/
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h1{
    margin: 0px;
}

/*pls dont detele guys i lz make another one*/
/**/

nav {
  background-color: #ecb954;
  overflow: hidden;
  display: flex;
}

nav > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > a:hover {
  background-color: white;
  color: black;
}

.header-container{
    background-color: #ecb954;
    height: 20px;
    text-align: left;
    display: flex;
    justify-content: left;
    padding: 14px 16px;
}