/*body*/
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin:0;
    padding: 0px;
}

h1{
    margin: 0px;
}

/*outer box */

.sliderContainer{
    width: 800px;
    overflow: hidden;
    margin: 40px auto;
    border-radius: 12px;
}

/*sliding row*/
.slider{
    display: flex;
    transition: transform 0.6s ease-in-out;

}
/*each slide*/
.slide{
    min-width: 800px;
    display: flex;
    align-items: center;

}

/*image*/
.slide img{
    width: 50%;
    height: 300px;
    object-fit: cover;
}

/*text */
.text{
    width: 50%;
    padding: 20px;
    text-align: left;

}

/* button style*/
.prevBtn,
.nextBtn{
    cursor: pointer;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
}

/*btn position prev*/
.prevBtn {
    left: 10px;
}
/*next position*/
.nextBtn{
    right: 10px;
}


/*pls dont detele guys i lz make another one*/
/**/

nav {
  background-color: #ecb954;
  overflow: hidden;
  justify-content: space-evenly;
  display: flex;
}

nav > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > a:hover {
  background-color: #ddd;
  color: rgb(241, 185, 87);
}

.header-container{
    background-color: #ecb954;
    height: 100px;
    text-align: center;
}

